<section>
    <div class="container">
       <!-- <div class="row" style="padding-top: 171px">
        <div class="col-lg-3 col-lg-offset-2"><md-input-container class=""><input mdInput placeholder="Input"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 81px">
        <div class="col-lg-1 col-lg-offset-2"><button class="btn btn-primary" (click)="search_NodeCrud()" >search</button>
        </div>
       <div class="col-lg-1 "><button class="btn btn-primary" (click)="get_all_NodeCrud()" >getall</button>
        </div>
        </div>-->
        <div class="row" style="padding-top: 96px">
        <div class="col-lg-5 col-lg-offset-2"><ag-grid-angular #Table_311Grid style="width: 88%; height: 240px;" class="ag-fresh" [gridOptions]="Table_311GridOptions" [rowData]="array_NodeCrud"></ag-grid-angular>
        </div>
        </div>

    </div>
</section>
