<section>
    <div class="container">
        <div class="row" style="padding-top: 309px">
        <div class="col-lg-3 col-lg-offset-2"><md-input-container class=""><input mdInput placeholder="Input" [(ngModel)]="nodecrud.name"></md-input-container>
        </div>
        <div class="col-lg-3 col-lg-offset-1"><md-input-container class=""><input mdInput placeholder="Input" [(ngModel)]="nodecrud.address"></md-input-container>
        </div>
        </div>
        <div class="row" style="padding-top: 85px">
        <div class="col-lg-1 col-lg-offset-2"><button class="btn btn-primary" (click)="update_NodeCrud()" >updtae</button>
        </div>
        <div class="col-lg-1 col-lg-offset-1"><button class="btn btn-primary" (click)="delete_NodeCrud()" >delete</button>
        </div>
        </div>

    </div>
</section>
<modal #modalSFU>
	<modal-header [show-close]="true">
		<h4 class="modal-title">ID required!</h4>
	</modal-header>
	<modal-body>
		<md-input-container><input mdInput placeholder="NodeCrud ID" [(ngModel)]="nodecrud.id"></md-input-container>
	</modal-body>
	<modal-footer>
		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalSFU.dismiss()">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="search_for_update_NodeCrud()">Get NodeCrud</button>
	</modal-footer>
</modal>
